.details {
    background-color: white;
    padding: 30px;
    margin-top: -100px;
}

.my-details {
    display: flex;
}

.my-details img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.my-details h4,
.my-details p,
.flex h5 {
    margin: 0;
    padding-left: 10px;
}

.location {
    display: flex;
    align-items: center;
}

.location-icon {
    padding-left: 10px;
}

.my-info,
.exercise-time,
.break-time,
.breaks {
    margin-top: 30px;
    padding: 20px;
    background-color: #F2F4FA;
    border-radius: 10px;
}

.flex {
    display: flex;
    justify-content: space-around;
}

.breaks button {
    border: 0;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-color: white;
    margin: 0 7px;
    cursor: pointer;
}

.breaks button:hover {
    background-color: #52BE80;
    color: white;
}

.exercise-time,
.break-time {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
}

.exercise-time p,
.break-time p {
    margin: 0;
}

.break-time {
    margin-top: 15px;
}

.completed-btn {
    margin-top: 50px;
    width: 100%;
    background-color: #52BE80;
    border: 0;
    border-radius: 10px;
    padding: 15px;
    color: white;
    cursor: pointer;
}

.completed-btn:hover {
    background-color: #5D5FEF;
}